body {
    min-height: 100%;
}
.thumbnail {
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: white;
}
h1 {
	font-family: 'Raleway';
	font-weight: 100;
	margin-top: 0px;
	margin-left: 1%;
	font-size: 45px;
}
p {
    font-family: 'Exo 2';
}
h2 {
    font-family: 'Exo 2';
	font-weight: 500;
	font-size: 20px;
    vertical-align: middle;
    margin-top: 0px;
}
.navbar-default {
    background-color: #ffcf48;
    font-family: 'Exo 2';
    
}
.navbar-default .navbar-nav > li > a{
    color:black;
}
.navbar-default .navbar-brand{
    color:black;
}
.page-header {
    margin-top: 10px;
    padding-bottom: 0px;
}
a {
    font-family: 'Exo 2';
    font-size: 17px;
    font-weight: lighter;
    
    color: antiquewhite;
}
a:hover {
    text-decoration: none;
}
my_button {
   font-family: 'Exo 2';
}
.breadcrumb {
       font-family: 'Exo 2';
    
    margin-bottom: 0px;
}
.btn-default {
    border-width: 0;
    font-family: 'Raleway';
}
.btn-primary {
    background-color: #ffcf48;
    color: #1a1a1a;
    border-width: 0px;
    font-weight: 500; 
    font-size: 17px;
    margin-right: 0px;
}
.panel {
    font-family: 'Exo 2';
    background-color: #f5f5f5;
    width: 100%;
    margin-bottom: 90px;
    line-height: 1.428571429;
}
.panel-body {
    background-color: white;
    border-color: black;
    border-width:inherit;
}
.panel-heading{
    font-size: 15px;
}
.carousel {
  width:100%;
  height: 500px;
  margin-bottom: 90px;
  margin-top:10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
min-width: 100%;
  background-color: #f5f5f5;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
td {
    font-size: 20px;
    padding-left: 20;

}
.checkbox{
    margin-left: auto;
}
table {
    width: 100%;
}

input[type="text" i], input[type="password" i], input[type="email" i]{
    height: inherit;
    width:100%;
    margin-bottom: 3px;
    margin-top: 3px;
}
.nav-tabs.nav-justified>.active>a {
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    background-color: #f5f5f5;
}
.nav-tabs.nav-justified>li>a {
    height: 50px;
    font-size: 20px;
    background-color: white;
    color: black;
    border-color: #ddd;
}
.nav-tabs.nav-justified {
    height: 50px;
}
table[id="basket" i] {
    font-family: 'Exo 2';
}
label{
    font-size: 15px;
    font-weight: 400;
}
