{% load staticfiles %}
<html lang="en" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'bootstrap-3.1.0/assets/ico/favicon.ico' %}">

    <title>Travel with me!</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap-3.1.0/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'shop.css' %}">


    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <div class="container">
    <div class="row">
        <div class="col-sm-3"><b><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-send"></span>   Travel with me!</button></b></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"><a><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-user"></span> Вход</button></a></div>
        <div class="col-sm-2"><a><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-shopping-cart"></span> Корзина</button></a></div>
    </div>
  </div>


   <div class="navbar navbar-default">
     <div class="container">
       <div class="navbar-collapse collapse">

         <ul class="nav navbar-nav">

            <li><a href="#">О нас</a></li>
            <li><a href="#">Специальные предложения</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Страны<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Виды отдыха<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Все для путешествий<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Найти...">
          </form>
        </div><!--/.nav-collapse -->

     </div>
   </div>
   {% block signin %}
                {% endblock signin  %}
                {% block carousel%}
                {% endblock carousel %}
  	            {% block content %}
                {% endblock content %}
   		          {% block best%}
   		          {% endblock best %}
  <div class="container">
      <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">

                <div class="panel panel-default">
                    <h2 class="panel-heading">Вход на сайт:</h2>
                        <div class="panel-body">
                            <form class="form-signin" role="form">
                                <h2 class="form-signin-heading">Please sign in</h2>
                                <input type="email" class="form-control" placeholder="Email address" required autofocus>
                                <input type="password" class="form-control" placeholder="Password" required>
                                <label class="checkbox">
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                                <a><button class="btn center-block" type="submit" >Войти!</button></a>
                            </form>
  </div>
</div>

            </div>
            <div class="col-sm-4"></div>


</div>
  </body>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="bootstrap-3.1.0/dist/js/bootstrap.min.js"></script>
</html>
