{% extends "template.html" %}
{% load staticfiles %}

{%block breadcrumb %}
<li><a href="/">Главная</a></li>
<li class="active">Корзина</li>
{% endblock breadcrumb%}
{% block basket %}
        <div class="row">
          <div class="col-md-12">
            <div class="row">

<div class="col-md-1"></div>
<div class="col-md-10">
<h2>Ваш заказ:</h2>
<table class="table table-hover" id="basket">
 <thead>
 <tr>
 <th>№</th>
 <th>Товар</th>
 <th>Стоимость</th>
  <th>Количество</th>
 </tr>
 </thead>
 <tbody>
 <!--{%for item in basket %}
 <tr>
 <td>{{item}}</td>
 <td>{{item.name}}</td>
 <td>{{item.cost}}</td>
 </tr>
 {%endfor%}-->
 </tbody>
 </table>

 <div class="well well-small">
Итого: <span id="cost_sum">{{sum}}</span> руб.
</div>
<a href="#" class="btn btn-primary btn-right" role="button" style="background-color: #ffcf48; color: #1a1a1a; border-width: 0px; font-weight: 500;">Перейти к оформлению заказа</a>

            </div>
<div class="col-md-1"></div>
               
            
            </div>
          </div>
        </div>
   
{% endblock basket %}
{% block scripts %}
<script>
    var basket = JSON.parse(localStorage["{{user}}_basket"]);
    var change;
    var timerId = setInterval(function() {
    var basket = JSON.parse(localStorage["{{user}}_basket"]);
    change = JSON.parse(localStorage["{{user}}_basket_change"]);
    if (change) {
    $("#basket").html("<tr><th>№</th><th>Товар</th><th>Стоимость</th><th>Количество</th></tr>");
	var raw_data = [];
	var counts = [];
	for (i in basket) {
		raw_data.push(i);
		counts.push(basket[i]);
	}
	console.log(raw_data);
	$.ajax({
		url: "{% url 'get_data' %}",
		//data: {'raw_data' : localStorage["{{user}}_basket"]},
		data: {'raw_data' : JSON.stringify(raw_data)},
		success: function(data) {
			console.log(data);
			var s = 0;
			data.forEach(function(item, i, arr) {
				s += item[1]*counts[i];
				$("#basket").append("<tr><td>"+(i+1)+"</td><td>" + item[0] + "</td><td>" + item[1] + "</td><td>"+counts[i]+"</td></tr>");
			});
			$("#cost_sum").html(s);
		}
	});    
    }
    localStorage["{{user}}_basket_change"] = false;
	//console.log(basket);
	
    }, 1000);
	
</script>
{% endblock %}
