{% extends "template.html" %}
{% load staticfiles %}
{%block breadcrumb %}
<li><a href="/">Главная</a></li>
<li class="active">Все путешествия</li>
{% endblock breadcrumb%}
{% block catalog %}
<script>
//var curr_basket = [];
var curr_basket = {};
$(document).ready(function(){
  $( "button.add" ).click(function(){

    var current_button = $(this);//.siblings().val()
    curr_basket = JSON.parse(localStorage["{{user}}_basket"]);
    console.log(curr_basket);
    if (current_button.data("id") in curr_basket){
        curr_basket[current_button.data("id")] = 1 + Number(curr_basket[current_button.data("id")]);
    }
    else {
        curr_basket[current_button.data("id")] = 1;
    }
    
    //curr_basket.push(current_button.data("id"));
    localStorage["{{user}}_basket"] = JSON.stringify(curr_basket);
    localStorage["{{user}}_basket_change"] = true;
    // $.ajax({
    //     url: "/add-to-basket/",
    //     type: "GET",
    //     data: {"item": $(this).attr('id')},
    //     success: function(data){
    //       current_button.replaceWith( data );
    //     }
    // });
   });
});
</script>
        <div class="row">
          <div class="col-md-12">
            <div class="row">

<div class="col-md-3"> 
<!-- МЕНЮ-->

<div class="panel" style="margin-left: 20px;margin-top:20px;margin-right: 0px; background-color: #f5f5f5;">

<div class="panel-heading" style="background-color: #ffcf48; color:  black; font-size: 22px;">Категории:</div>

<form id="form" method="get" action="{% url 'search' %}">
{% csrf_token %}
{{form.name}}
</form>

<div class="form-group">
  <label for="Country_choose"style="font-size: 20px;">Страны:</label>
  <select class="form-control" id="Country_choose">
  {%for c in countr %}
  <option>{{c.name}}</option>
  {%endfor%}
  </select>
</div>


<div class="form-group" style="width: 80%;">
  <label for="Activity_choose" style="font-size: 20px;">Виды отдыха:</label>
  <select class="form-control" id="Activity_choose">
     {%for c in act %}
  <option>{{c.name}}</option>
  {%endfor%}
  </select>
</div>
<label for="Tags"style="font-size: 20px;">Поиск по тегам:</label>
<p style="font-size: 18px;">(Зажмите Shift, чтобы выбрать больше одного)</p>
      <select multiple class="form-control" id="Tags">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>

<p><a href="#" class="btn btn-primary" role="button" style="background-color: #ffcf48; color: #1a1a1a; border-width: 0px; font-weight: 500; font-size: 17px;margin-top: 30px;">Найти путешествия!</a></p>
 </div>



</div>
<div class="col-md-3">
{% for item in items %}
  <div class="thumbnail" style="margin-top:30px;margin-bottom: 30px; margin-left: 40px; margin-right: 20px; background-color: #f5f5f5">
        <img src="/static/img/items/{{item.id}}.png">
          <div class="caption">
            <a href="/item/{{item.id}}/"><h3>{{item.name}}</h3></a>
            <p>{{item.cost}} руб.</p>
  <button data-id="{{ item.id }}" class="add btn btn-primary" style="background-color: #ffcf48; color: #1a1a1a; border-width: 0px; font-weight: 500;">
    Добавить в корзину</button>
  </div>
          </div>
{% endfor %}
<div class="thumbnail" style="margin-top:30px;margin-bottom: 30px; margin-left: 40px; margin-right: 20px; background-color: #f5f5f5">
        <img src="..." alt="...">
          <div class="caption">
            <h3>Название товара</h3>
            <p>Цена товара</p>
            <p><a href="#" class="btn btn-primary" role="button" style="background-color: #ffcf48; color: #1a1a1a; border-width: 0px; font-weight: 500;">Добавить в корзину</a></p>
          </div>
          </div>
          <div class="thumbnail" style="margin-top:30px;margin-bottom: 30px; margin-left: 40px; margin-right: 20px; background-color: #f5f5f5">
        <img src="..." alt="...">
          <div class="caption">
            <h3>Название товара</h3>
            <p>Цена товара</p>
            <p><a href="#" class="btn btn-primary" role="button" style="background-color: #ffcf48; color: #1a1a1a; border-width: 0px; font-weight: 500;">Добавить в корзину</a></p>
          </div>
          </div>
          <div class="thumbnail" style="margin-top:30px;margin-bottom: 30px; margin-left: 40px; margin-right: 20px; background-color: #f5f5f5">
        <img src="..." alt="...">
          <div class="caption">
            <h3>Название товара</h3>
            <p>Цена товара</p>
            <p><a href="#" class="btn btn-primary" role="button" style="background-color: #ffcf48; color: #1a1a1a; border-width: 0px; font-weight: 500;">Добавить в корзину</a></p>
          </div>
          </div>

            </div>
<div class="col-md-3">
	
<div class="thumbnail" style="margin-top:30px;margin-bottom: 30px; margin-left: 40px; margin-right: 20px; background-color: #f5f5f5">
        <img src="..." alt="...">
          <div class="caption">
            <h3>Название товара</h3>
            <p>Цена товара</p>
            <p><a href="#" class="btn btn-primary" role="button" style="background-color: #ffcf48; color: #1a1a1a; border-width: 0px; font-weight: 500;">Добавить в корзину</a></p>
          </div>
          </div>

          <div class="thumbnail" style="margin-top:30px;margin-bottom: 30px; margin-left: 40px; margin-right: 20px; background-color: #f5f5f5">
        <img src="..." alt="...">
          <div class="caption">
            <h3>Название товара</h3>
            <p>Цена товара</p>
            <p><a href="#" class="btn btn-primary" role="button" style="background-color: #ffcf48; color: #1a1a1a; border-width: 0px; font-weight: 500;">Добавить в корзину</a></p>
          </div>
          </div>

          <div class="thumbnail" style="margin-top:30px;margin-bottom: 30px; margin-left: 40px; margin-right: 20px; background-color: #f5f5f5">
        <img src="..." alt="...">
          <div class="caption">
            <h3>Название товара</h3>
            <p>Цена товара</p>
            <p><a href="#" class="btn btn-primary" role="button" style="background-color: #ffcf48; color: #1a1a1a; border-width: 0px; font-weight: 500;">Добавить в корзину</a></p>
          </div>
          </div>

</div>
<div class="col-md-3">
	
<div class="thumbnail" style="margin-top:30px;margin-bottom: 30px; margin-left: 40px; margin-right: 20px; background-color: #f5f5f5">
        <img src="..." alt="...">
          <div class="caption">
            <h3>Название товара</h3>
            <p>Цена товара</p>
            <p><a href="#" class="btn btn-primary" role="button" style="background-color: #ffcf48; color: #1a1a1a; border-width: 0px; font-weight: 500;">Добавить в корзину</a></p>
          </div>
          </div>

</div>
               
            
            </div>
          </div>
        </div>
        

   
{% endblock catalog%}
