{% extends "navigation.html" %}
{%block breadcrumb %}
<li class="active">Главная</li>
{% endblock breadcrumb%}
{% block page %}
<script>
var curr_basket = {};
$(document).ready(function(){
  $( "button.add" ).click(function(){

    var current_button = $(this);//.siblings().val()
    curr_basket =JSON.parse(localStorage["{{user}}_basket"]);
    console.log(curr_basket);
    if (current_button.data("id") in curr_basket){
        curr_basket[current_button.data("id")] = 1 + Number(curr_basket[current_button.data("id")]);
    }
    else {
        curr_basket[current_button.data("id")] = 1;
    }
    console.log(curr_basket);
    localStorage["{{user}}_basket"] = JSON.stringify(curr_basket);
    localStorage["{{user}}_basket_change"] = true;
   });
});
</script>


<div class="col-md-3">

        <!-- МЕНЮ-->

    <div class="panel" >
        <div class="panel-heading"  style="background-color:#f5f5f5;font-size:20px;">Результаты поиска:</div>
        <div class="panel-body" style="font-size:15px;">

       
            <form id="search_travel" method="post" action="{% url 'search_travel_form' %}" enctype="form-data">
                <h2>Поиск по тексту:</h2><h2>"{{text}}"</h2>
                <h2>Найдено совпадений: {{count}}</h2>
        
            </form>
     </div>
    </div>
</div>

<div class="col-md-3">
    {% for item in items %}
     <div class="thumbnail" >
            <img src="..." alt="...">
              <div class="caption">
                <a href="/item/{{item.thing.id}}/" style="color:black;"><h2>{{item.thing.name}}</h2></a>
            <p>{{item.thing.cost}} руб.</p>
            <button data-id="{{ item.thing.id }}" class="add btn btn-primary" style="background-color: #ffcf48; color: #1a1a1a; border-         width: 0px; font-weight: 400;font-family:'Exo 2';">
                Добавить в корзину</button>
              </div>
        </div>
    {%endfor%}
</div>
<div class="col-md-3">

</div>
<div class="col-md-3"></div>
<script>
$(document).ready(function() {.find('[id="language"]')
            .selectpicker()
})
</script>
{% endblock page %}