{% extends "template.html" %}
{% load staticfiles %}
{%block breadcrumb %}
<li><a href="/">Главная</a></li>
<li><a href="/{{last_link}}/">{{last_page}}</a></li>
<li class="active">{{item.name}}</li>
{% endblock breadcrumb%}
{% block catalog %}

<script>
//var curr_basket = [];
var curr_basket = {};
$(document).ready(function(){
  $( "button.add" ).click(function(){

    var current_button = $(this);//.siblings().val()
    //curr_basket = JSON.parse(localStorage["{{user}}_basket"]);
    console.log(curr_basket);
    if (current_button.data("id") in curr_basket){
        curr_basket[current_button.data("id")] = Number($("#count").val()) + Number(curr_basket[current_button.data("id")]);
    }
    else {
        curr_basket[current_button.data("id")] = $("#count").val();
    }
    
    //curr_basket.push(current_button.data("id"));
    localStorage["{{user}}_basket"] = JSON.stringify(curr_basket);
    localStorage["{{user}}_basket_change"] = true;
    // $.ajax({
    //     url: "/add-to-basket/",
    //     type: "GET",
    //     data: {"item": $(this).attr('id')},
    //     success: function(data){
    //       current_button.replaceWith( data );
    //     }
    // });
   });
});
</script>

        <div class="row">
          <div class="col-md-12">
            <div class="row">

<div class="col-md-3"> 

<div class="panel" style="margin-left: 20px;margin-top:20px;margin-right: 0px; background-color: #f5f5f5;">

<div class="panel-heading" style="background-color: #ffcf48; color:  black;">Категории:</div>
<p><a href="#" class="btn btn-primary" role="button" style="background-color: #ffcf48; color: #1a1a1a; border-width: 0px; font-weight: 500; font-size: 17px;">Найти путешествия!</a></p>
 </div>

</div>
<div class="col-md-9">

<div class="thumbnail" style="margin-top:20px;margin-bottom: 30px; margin-left: 0px; margin-right: 20px; background-color: #f5f5f5">
        
          <div class="caption">
          <div class="row">
              <div class="col-md-6"> 

              <h3 style="font-size: 27px;">{{item.name}}</h3>
              <img src="/static/img/items/{{item.id}}.png" alt="..." style="height: 375px; width: 375px; border-style:solid;border-color: grey; border-width: 2px;
">
              <!--<img src="http://sigils.ru/symbols/img/gora01.jpg" alt="..." style="height: 250px; width: 375px;">-->
              </div>
              <div class="col-md-6">
              <p style="visibility: hidden;"> _</p>
              <p style="visibility: hidden;"> _</p>
              <h3>Описание:</h3>
              <p>{{item.information}}</p>
              <p><h3>Цена: </h3>{{item.cost}}  руб.</p>
              <p style="font-size: 20px;">Количество:</p>
              <input type="number" size="1" value="1" id="count">

              <p style="visibility: hidden;"> _</p>
              <p> <button data-id="{{ item.id }}" class="add btn btn-primary" style="background-color: #ffcf48; color: #1a1a1a; border-width: 0px; font-weight: 500;">
    Добавить в корзину</button></p>
               </div>
          </div>
          <div class="row">
              <div class="col-md-12">

              <h3>Подробнее:</h3>
              <p>{{item.additional_information}}</p>
               </div>
              </div>
          </div>
          </div>

<div class="panel"> </div>
          
          </div>
            </div>

            
            </div>
          </div>
        </div>
   
{% endblock catalog%}