{% extends "template.html" %}
{%block breadcrumb %}
<li class="active">Главная</li>
{% endblock breadcrumb%}
{%block carousel %}

<div class="row">
 <div class="col-md-1"><p><a class="btn btn-default" id="log" role="button" style="color: #FFFFFF;"></a>
</p></div>
 <div class="col-md-10">
   <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://www.climbing.ru/media/pic_full/0/2259.jpg" alt="">
      <div class="carousel-caption">
        Здесь будет что-то крутое!

      </div>
    </div>
    <div class="item">
      <img src="http://cdn-tn.fishki.net/26/upload/post/201406/17/1277907/3ebc5a3b89d52e189da1d89910ec84fc.jpg" alt="">
      <div class="carousel-caption">
        И здесь тоже:)
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>
</div>
 <div class="col-md-1"></div>
 </div>
{%endblock carousel %}
{% block best%}

<div class="row">
    <div class="col-md-4"> 

      <div class="thumbnail" style="margin-top:30px;margin-bottom: 30px; margin-left: 40px; margin-right: 20px; background-color: #f5f5f5">
        <img src="..." alt="...">
          <div class="caption">
            <h3>Название товара</h3>
            <p>Цена товара</p>
            <p><a href="#" class="btn btn-primary" role="button" style="background-color: #ffcf48; color: #1a1a1a; border-width: 0px; font-weight: 500;">Добавить в корзину</a></p>
          </div>
      </div>
    </div>

</div>
<script>
    $.ajax({
        url: "/accounts/login/",
        type: "GET",
        data: {"item": 0},
        success: function(data){
          $("#log").append(data);
        },
    });
</script>
{% endblock best %}