 {% extends 'shop/base.html' %}

 {% block carousel %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img data-src="holder.js/900x400/auto/#777:#7a7a7a/text:First slide" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x400/auto/#666:#6a6a6a/text:Second slide" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x400/auto/#555:#5a5a5a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
 {% endblock carousel%}
 {% block best %}
    {% for item in top%}
        <div class="row">
            <div class="col-sm-4">

                <div class="thumbnail">
                    <img src="..." alt="...">
                        <div class="caption">
                            <h2>{{item.name}}</h2>
                            <h3>{{item.cost}}</h3>
                            <a><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-shopping-cart"></span> Добавить в корзину</button></a>

      </div>
    </div>

            </div>
        </div>
    {% endfor %}
 {% endblock best %}
  <div class="row">
     <div class="col-sm-4">
        <div class="panel panel-warning">
          <div class="panel-heading">Our offices</div>
          <div class="panel-body">
          <img src="/images/map.png" class="img-responsive" alt="Our offices">
        </div>
  </div>
     </div>

     <div class="col-sm-4">
        <div class="panel panel-warning">
          <div class="panel-heading">Our offices</div>
          <div class="panel-body">
          <img src="/images/map.png" class="img-responsive" alt="Our offices">
        </div>
  </div>
     </div>
     <div class="col-sm-4">
        <div class="panel panel-warning">
          <div class="panel-heading">Our offices</div>
          <div class="panel-body">
          <img src="/images/map.png" class="img-responsive" alt="Our offices">
        </div>
  </div>
     </div>


  </div>
