{% extends "navigation.html" %}
{%block breadcrumb %}
<li class="active">Главная</li>
{% endblock breadcrumb%}
{% block page %}
<div class="col-md-1">
</div>
<div class="col-md-10">

    <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="http://www.climbing.ru/media/pic_full/0/2259.jpg" alt="">
              <div class="carousel-caption">
                Здесь будет что-то крутое!

              </div>
            </div>
            <div class="item">
              <img src="http://cdn-tn.fishki.net/26/upload/post/201406/17/1277907/3ebc5a3b89d52e189da1d89910ec84fc.jpg" alt="">
              <div class="carousel-caption">
                И здесь тоже:)
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
          <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
    </div>
</div>
    
</div>
<div class="col-md-1"> </div>
<div class="col-md-4"> 
</div>
<div class="col-md-4"> </div>
<div class="col-md-4"> </div>
{% endblock page %}
