{% load staticfiles %}
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--Шрифты-->
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    
    <!--CSS-->
    <link href="{% static 'my.css'%}" rel="stylesheet" type="text/css">
    
  </head>
    <body>
    <div class="cover">
      <div class="navbar navbar-default navig">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <b><button type="button" class="btn btn-lg navbar-btn"><i class="fa fa-fw fa-lg fa-send"></i>Travel with me!</button></b>
            </div>
            <div class="col-md-2 text-right">
              <a class="btn btn-lg btn-link"></a>
            </div>
            <div class="col-md-5 text-right">
              <a class="btn btn-lg btn-link"></a>
            </div>
            <div class="col-md-1">
                   
              <c><a class="btn btn-lg navbar-btn"><i class="fa fa-fw fa-user"></i>Вход</a></c>
            </div>
            <div class="col-md-1">
              <c><a class="btn btn-lg navbar-btn"><i class="fa fa-fw fa-shopping-cart"></i>Корзина</a></c>
            </div>
<div class="col-md-1"> </div>
          </div>
        </div>
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-left navbar-nav navig">
              <li>
                <a href="#">О нас</a>
              </li>
              <li>
                <a href="#">Специальные предложения</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Все страны&nbsp;<i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="#">Action</a>
                  </li>
                  <li>
                    <a href="#">Another action</a>
                  </li>
                  <li>
                    <a href="#">Something else here</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Separated link</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">One more separated link</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Виды активности&nbsp;<i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="#">Action</a>
                  </li>
                  <li>
                    <a href="#">Another action</a>
                  </li>
                  <li>
                    <a href="#">Something else here</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Separated link</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">One more separated link</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Товары для путешествий&nbsp;<i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="#">Action</a>
                  </li>
                  <li>
                    <a href="#">Another action</a>
                  </li>
                  <li>
                    <a href="#">Something else here</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Separated link</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">One more separated link</a>
                  </li>
                </ul>
              </li>
              <li class="navbar-form navbar-right" id="2"></li>
              <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button class="btn btn-warning" type="submit">
                  <i class="fa fa-fw fa-search"></i>
                </button>
                
              </form>
            </ul>
          </div>
        </div>
      </div>
      
<div class="col-md-2"></div>

                {% block signin %}
                {% endblock signin  %}
                {% block carousel%}
                {% endblock carousel %}
  	        {% block content %}
                {% endblock content %}
   		{% block best%}
   		{% endblock best %}
            
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom navig">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><span>Служба поддержки: &nbsp;8-800-225-35-35</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse"></div>
      </div>
    </div>
  

</body></html>
