{% load staticfiles %}
<html lang="en" lang="ru">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--Шрифты-->
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Exo+2:200,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!--CSS-->
    <link href="{% static 'bootstrap.min.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'main.css'%}" rel="stylesheet" type="text/css">

    <!--jQuery-->

  </head>
    <body>
    <script>

$(document).ready(function(){
  $( "button.country" ).click(function(){
    var current_button = $(this).data('id');//.siblings().val()
    console.log("Hey", current_button);
      $.ajax({
        url: "{% url 'search_travel_form' %}",
        type: "GET",
        data: {'country_choose': current_button,
              'activity_choose': '',
              'min_cost': '',
              'max_cost':''},
        success: function(data){
          console.log(data);
        },
   });
});
}); 
</script>
        <div class="row">
            
            <div class="page-header">
                <div class="col-md-9"><h1> Travel with me!</h1></div>
                <div class="col-md-1">
                             

                    <div id="log" style="padding:0px;"></div>
                </div>
                <div class="col-md-2">
                    <a href="/basket/"><button type="button" class="btn btn-default btn-lg" style="font-family:'Poiret One;'" >
                        <span class="fa fa-fw fa-shopping-cart" ></span> <my_button >Корзина <span class="badge" id="sum">руб.</span></my_button>
                        </button></a></div>
            
                <text style="color:white;">hi</text>
            <!--Меню-->
            <nav class="navbar navbar-default" style="margin-bottom:0;">
                
                <ul class="nav navbar-nav" style=" font-family: 'Exo 2';"> 
                    <li>
                        <a href="/special/">Специальные предложения</a>
                    </li>
                    <li>
                        <a href="/catalog/search/category=travel&country=&activity=&min_cost=&max_cost=">Все путешествия</a>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Страны&nbsp;<i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for country in countr %}
                                <li>
                                    <a href="/catalog/search/category=travel&country={{ country }}&activity=&min_cost=&max_cost=">{{country}}</a>
                                </li>
                            {% endfor %}

                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Виды отдыха&nbsp;<i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for active in act %}
                                <li>
                                    <a href="/catalog/search/category=travel&country=&activity={{ active }}&min_cost=&max_cost=">{{active}}</a>
                                </li>
                            {% endfor %}

                        </ul>
                    </li>
                    
                    
                </ul>
                
                
                <ul class="nav navbar-right navbar-nav navig"> 
                
                <form method="get" action="/find_by_text/"  class="navbar-form navbar-right" role="search" >
                    {% csrf_token %} 
                    <input type="text" name="search" class="form-control" placeholder="Search">    
                    <button type="submit" class="btn btn-warning">
                        <i class="fa fa-fw fa-search"></i>
                        </button>
                  
                    </form>  
                </ul>
                
            </nav>
                
                <ol class="breadcrumb">

                    {%block breadcrumb %}
                    {% endblock breadcrumb%}
                </ol>
                
            </div>
            
            
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="navbar-header">
                    <a class="navbar-brand"><span>Служба поддержки: &nbsp;8-800-225-35-35</span></a>
                </div>

                <ul class="nav navbar-right navbar-nav navig">
                    <li>
                        <a href="#">О нас</a>
                    </li>
                </ul>
            </nav>
            </div>
          
            {% block page %}
            {% endblock page %}
            
        </div>

 <div class="modal fade bs-logout-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="margin-top:100px;">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
            <panel> <div class="panel-heading navig" style="font-family:'Poiret One';color: black;font-size:20px;">Выход из аккуаунта<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: black;">&times;</button> </div>
                <div class="panel-content" style="font-family:'Poiret One';color: black;font-size:20px;">
                    <p>Вы уверены, что хотите выйти?</p>
                <div class="modal-footer">
                    <a href='/accounts/logout'next={{ request.path }}><center><button type="button" class="btn btn-default"  style="margin-right:40px;">Выйти</button></a>
                    <button type="button" class="btn btn-primary"  data-dismiss="modal">Отмена</button></center>
                </div>
                </div>
     </panel>

    </div>

  </div>
</div>
<script>
    var basket = JSON.parse(localStorage["{{user}}_basket"]);
    var my_change = true;
    var timerId = setInterval(function() {
    var basket = JSON.parse(localStorage["{{user}}_basket"]);
    
    if (my_change) {
	var raw_data = [];
	var counts = [];
	for (i in basket) {
		raw_data.push(i);
		counts.push(basket[i]);
	}
	console.log(raw_data);
	$.ajax({
		url: "{% url 'get_data' %}",
		//data: {'raw_data' : localStorage["{{user}}_basket"]},
		data: {'raw_data' : JSON.stringify(raw_data)},
		success: function(data) {
			console.log(data);
			var s = 0;
			data.forEach(function(item, i, arr) {
				s += item[1]*counts[i];
				
			});
			$("#sum").html(s + ' руб.');
		}
	});    
    }
    my_change = JSON.parse(localStorage["{{user}}_basket_change"]);
    localStorage["{{user}}_basket_change"] = false;
	//console.log(basket);
	
    }, 500);
	
</script>
    </body>

<script>
    $.ajax({
        url: "/accounts/login/",
        type: "GET",
        data: {"item": 0},
        success: function(data){
          $("#log").append(data);
        },
    });
</script>

  </html>