{% extends "navigation.html" %}
{%block breadcrumb %}
<li>Главная</li>
<li class="active">Регистрация</li>
{% endblock breadcrumb%}
{% block page %}
<div class="col-md-1"></div>
<div class="col-md-10">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" ><a href="/login/">Заказ</a></li>
        <li role="presentation" class="active"><a  href="/registration/">Доставка</a></li>
        <li role="presentation" ><a href="/login/">Оплата</a></li>
        <li role="presentation" ><a href="/login/">Подтверждение</a></li>
    </ul>
    <div class="panel panel-default">    
        <div class="panel-body">
        hi
        </div>
    </div>
</div>
<div class="col-md-1"></div>

{% endblock page %}