{% extends "navigation.html" %}
{%block breadcrumb %}
<li>Главная</li>
<li>Оформление заказа</li>
<li class="active">Оплата</li>
{% endblock breadcrumb%}
{% block page %}
<div class="col-md-1"></div>
<div class="col-md-10">
    <ul class="nav nav-tabs nav-justified">
       <li role="presentation" ><a href="/order_step_1/">Заказ</a></li>
        <li role="presentation" ><a  href="/order_step_2/">Доставка</a></li>
        <li role="presentation" class="active"><a href="/order_step_3/">Оплата</a></li>
        <li role="presentation" ><a href="/order_step_4/">Оформление</a></li>
    </ul>
    <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-heading" style="height:50px;background-color:white;"><h2>Выберите способ оплаты:</h2></div>
                    <div class="panel-body">
                        <form role="form" style="font-size:20px;">
                            <div class="radio">
                                <label><input type="radio" name="optradio">Наличными <p style="font-size:15px;">Только для самовывоза</p></label>
                            </div>
                            <div class="radio">
                              <label><input type="radio" name="optradio">Платежная система PayPal
                                </label>
                                <p><a href="">Перейти на сайт платежной системы для оплаты</a></p>
                            </div>
                            
                          </form>
                        
                        <p align="right"><a href="/order_step_4/" class="btn btn-primary btn-right" role="button">Продолжить оформление</a></p>
                    </div>
                    </div>
</div>
<div class="col-md-1"></div>

{% endblock page %}