{% extends "navigation.html" %}
{%block breadcrumb %}
<li>Главная</li>
<li>Оформление заказа</li>
<li class="active">Доставка</li>
{% endblock breadcrumb%}
{% block page %}
<div class="col-md-1"></div>
<div class="col-md-10">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" ><a href="/order_step_1/">Заказ</a></li>
        <li role="presentation" class="active"><a  href="/order_step_2/">Доставка</a></li>
        <li role="presentation" ><a href="/order_step_3/">Оплата</a></li>
        <li role="presentation" ><a href="/order_step_4/">Оформление</a></li>
    </ul>
    <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-heading" style="height:50px;background-color:white;"><h2>Выберите способ доставки:</h2></div>
                    <div class="panel-body">
                        <form role="form" style="font-size:20px;">
                            <div class="radio">
                                <label><input type="radio" name="optradio">Самовывоз <p style="font-size:15px;">Из нашего магазина, адрес</p></label>
                            </div>
                            <div class="radio">
                              <label><input type="radio" name="optradio">Доставка по Москве 
                                </label>
                                <div class="form-group">
                                    <label for="comment" style="font-size:15px;">Введите адрес доставки:</label>
                                    <textarea class="form-control" rows="5" id="comment"></textarea>
                                </div>
                            </div>
                            <div class="radio">
                              <label><input type="radio" name="optradio" disabled>Доставка почтой</label>
                              <div class="form-group">
                                    <label for="comment" style="font-size:15px;">Введите адрес доставки:</label>
                                    <textarea class="form-control" rows="5" id="comment"></textarea>
                                </div>
                            </div>
                          </form>
                        
                        <p align="right"><a href="/order_step_3/" class="btn btn-primary btn-right" role="button">Все верно, продолжить оформление</a></p>
                    </div>
                    </div>
</div>
<div class="col-md-1"></div>

{% endblock page %}