{% extends "navigation.html" %}
{%block breadcrumb %}
<li>Главная</li>
<li>Оформление заказа</li>
<li class="active">Заказ</li>
{% endblock breadcrumb%}
{% block page %}
<div class="col-md-1"></div>
<div class="col-md-10">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active" ><a href="/order_step_1/">Заказ</a></li>
        <li role="presentation" ><a  href="/order_step_2/">Доставка</a></li>
        <li role="presentation" ><a href="/order_step_3/">Оплата</a></li>
        <li role="presentation" ><a href="/order_step_4/">Оформление</a></li>
    </ul>
    <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-heading" style="height:50px;background-color:white;"><h2>Проверьте правильность Вашего заказа:</h2></div>
                    <div class="panel-body">
                        <table class="table table-hover" id="basket">
                        <thead>

                         </thead>
                        <tbody>


                         </tbody>
                         </table>
                        
                     <div class="well well-small">
                    Итого: <span id="cost_sum">{{sum}}</span> руб.
                    </div>
                        <p align="right"><a href="/order_step_2/" class="btn btn-primary btn-right" role="button">Все верно, продолжить оформление</a></p>
                    </div>
    </div>
</div>
<div class="col-md-1"></div>
<script>
    var basket = JSON.parse(localStorage["{{user}}_basket"]);
    var change = true;
    console.log(change);
    var timerId = setInterval(function() {
    console.log(change);
    var basket = JSON.parse(localStorage["{{user}}_basket"]);
    if (change) {
    console.log(basket);
    $("#basket").html("<tr><th>№</th><th>Товар</th><th>Стоимость</th><th>Количество</th></tr>");
	var raw_data = [];
	var counts = [];
	for (i in basket) {
		raw_data.push(i);
		counts.push(basket[i]);
	}
	console.log(raw_data);
	$.ajax({
		url: "{% url 'get_data' %}",
		data: {'raw_data' : JSON.stringify(raw_data)},
		success: function(data) {
			console.log(data);
			var s = 0;
			data.forEach(function(item, i, arr) {
				s += item[1]*counts[i];
                console.log("hi");
                 console.log(basket);
				$("#basket").append("<tr><td>"+(i+1)+"</td><td>" + item[0] + "</td><td>" + item[1] + "</td><td>"+counts[i]+"</td></tr>");
			});
			$("#cost_sum").html(s);
            $("#sum").html(s + ' руб.');
		}
	});
    }
    change = JSON.parse(localStorage["{{user}}_basket_change"]);
    localStorage["{{user}}_basket_change"] = false;
	//console.log(basket);

    }, 1000);

</script>
{% endblock page %}