{% extends "navigation.html" %}
{%block breadcrumb %}
<li>Главная</li>
<li class="active">Регистрация</li>
{% endblock breadcrumb%}
{% block page %}
<div class="col-md-1"></div>
<div class="col-md-10">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" ><a href="/login/">Заказ</a></li>
        <li role="presentation" class="active"><a  href="/registration/">Доставка</a></li>
        <li role="presentation" ><a href="/login/">Оплата</a></li>
        <li role="presentation" ><a href="/login/">Подтверждение</a></li>
    </ul>
    <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-heading" style="height:50px;"><h2>Ваш заказ:</h2></div>
                    <div class="panel-body">
                        <table class="table table-hover" id="basket">
                        <thead>
                             <tr>
                             <th>№</th>
                             <th>Товар</th>
                             <th>Стоимость</th>
                              <th>Количество</th>
                             </tr>
                         </thead>
                        <tbody>
                             <!--{%for item in basket %}
                             <tr>
                             <td>{{item}}</td>
                             <td>{{item.name}}</td>
                             <td>{{item.cost}}</td>
                             </tr>
                             {%endfor%}-->
                         </tbody>
                         </table>
                        
                     <div class="well well-small">
                    Итого: <span id="cost_sum">{{sum}}</span> руб.
                    </div>
                        <p align="right"><a href="#" class="btn btn-primary btn-right" role="button">Перейти к оформлению заказа</a></p>
                    </div>
                    </div>
</div>
<div class="col-md-1"></div>

{% endblock page %}