{% extends "navigation.html" %}
{%block breadcrumb %}
<li>Главная</li>
<li class="active">Регистрация</li>
{% endblock breadcrumb%}
{% block page %}
<div class="col-md-1"></div>
<div class="col-md-10">
    <ul class="nav nav-tabs nav-justified">
  <li role="presentation" ><a href="/login/">Вход</a></li>
  <li role="presentation" class="active"><a>Регистрация</a></li>
</ul>
<div class="panel panel-default">    
    <div class="panel-body">
        <div class="col-md-3"></div>
        <div class="col-md-6">
                
            {% if user_form.errors %}
            <p>Неверный логин или пароль. Пожалуйста, попробуйте еще раз.</p>
            {% endif %}
            {% if profile_form.errors %}
            <p>Неверный логин или пароль. Пожалуйста, попробуйте еще раз.</p>
            {% endif %}
            <form id="user_form" method="post" action="{% url 'registration' %}"
                    enctype="multipart/form-data">
                {% csrf_token %}
                <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
                <table>
                    <thead>
                        <th style="width:20%;"></th>
                        <th style="width:100%;"></th>
                    </thead>
                     <tr>
                         <td>Логин:</td>
                         <td>{{ user_form.username }}</td>
                    </tr>

                    <tr> 
                        <td>E-mail:</td>
                        <td>{{ user_form.email }}</td>
                    </tr>
                    <tr>
                        <td>Пароль:</td>
                        <td>{{ user_form.password }}</td>
                    </tr>
                </table>
                   <br>
                <table>
                    <thead>
                        <th style="width:20%;"></th>
                        <th style="width:100%;"></th>
                    </thead>
                    
                <tr>
                    <td>Имя:</td>
                    <td>{{ profile_form.name }}</td>
                    
                </tr>
                <tr>
                    <td>Страна:</td>
                    <td>{{ profile_form.country }}</td>
                </tr>
                <tr>
                    <td>Город:</td>
                    <td>{{ profile_form.town}}</td>
                </tr>
                <tr style="vertical-align:top;"><td>О себе:</td>
                <td style="height:70px;">{{ profile_form.information }}</td></tr>

                </table>
                <label class="checkbox" style="padding-left: 120; padding-top: 15; ">
                    <input type="checkbox" value="remember-me"> Подтверждение регистрации будет выслано на указанный e-mail.
                </label>
    
                <p align="right">
                    <input type="submit"  href="/" class="btn btn-primary" role="button"type="submit" value="Зарегестрироваться" /></p>
            </form>
            
            
        </div>
        <div class="col-md-3"></div>
    </div>
       
            </div>

</div>
<div class="col-md-1"></div>
{% endblock page %}