{% extends "template.html" %}
{% load staticfiles %}
{%block breadcrumb %}
<li><a href="/">Главная</a></li>
<li class="active">Регистрация</li>
{% endblock breadcrumb%}
{%block signin %}


 <div class="row">
          <div class="col-md-12">
            <div class="row">

<div class="col-md-2"></div>
<div class="col-md-8">
            <div class="panel">
              <div class="panel-heading navig">
                <div class="panel-title text-center" style="font-size: 22px; font-weight: 500;color: #1a1a1a;">Регистрация:</div>
              </div>
              <div class="panel-body">
          
{% if user_form.errors %}
<p>1Неверный логин или пароль. Пожалуйста, попробуйте еще раз.</p>
{% endif %}
{% if profile_form.errors %}
<p>Неверный логин или пароль. Пожалуйста, попробуйте еще раз.</p>
{% endif %}
<form id="user_form" method="post" action="{% url 'registration' %}"
                    enctype="multipart/form-data">
      {% csrf_token %}
      <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
    <table>
     <tr><td>Логин:</td>
    <td>{{ user_form.username }}</td></tr>

    <tr> <td>E-mail:</td></p>
    <td>{{ user_form.email }}</td></tr>
     <tr><td>Пароль:</td>
    <td>{{ user_form.password }}</td></tr>
      
       </table>
       <br>
    <table>
    <tr><td>Имя:</td>
    <td>{{ profile_form.name }}</td></tr>
    <tr><td>Страна:</td>
    <td>{{ profile_form.country }}</td></tr>
    <tr><td>Город:</td>
    <td>{{ profile_form.town}}</td></tr>
    <tr><td>О себе:</td>
    <td>{{ profile_form.information }}</td></tr>

    </table>
    <label class="checkbox" style="padding-left: 120; padding-top: 15; ">
          <input type="checkbox" value="remember-me"> Подтверждение регистрации будет выслано на указанный e-mail.
        </label>
    
     <p align="right"><p align="right"><input type="submit"  href="/" class="btn btn-primary" role="button"type="submit" value="Зарегестрироваться!" style="background-color: #ffcf48; color: #1a1a1a; border-width: 0px; font-weight: 500; font-size: 17px; margin-top:30px;margin-left:100px;"/></p>
    </form>

            </div>
          </div>
<div class="col-md-2"></div>
               
            
            </div>
          </div>
        </div>
{%endblock signin %}
