{% load staticfiles %}
<html lang="en" lang="ru">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--Шрифты-->
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    
    <!--CSS-->
    <link href="{% static 'my.css'%}" rel="stylesheet" type="text/css">
    <!--jQuery-->

  </head>
    <body>
    <div class="cover">
      <div class="navbar navbar-default navig">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <b><button  href="/" type="button" class="btn btn-lg" style="margin-left: 0px;"><i class="fa fa-fw fa-lg fa-send"></i>Travel with me!</button></b>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-1">
                   
              <c><a href="/login/" class="btn btn-lg navbar-btn"><i class="fa fa-fw fa-user"></i>Вход</a></c>
            </div>
            <div class="col-md-1">
              <c><a href="/basket/" class="btn btn-lg navbar-btn"><i class="fa fa-fw fa-shopping-cart"></i>Корзина</a></c>
            </div>

          </div>
        </div>
        <div class="container"  style="min-width: 100%">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!--<div class="collapse navbar-collapse" id="navbar-ex-collapse"style="min-width: 100%;">-->
            <ul class="nav navbar-left navbar-nav navig" style="min-width: 100%;">
              
              <li>
                <a href="#">Специальные предложения</a>
              </li>
              <li>
                <a href="/catalog/">Все путешествия</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Страны&nbsp;<i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu" role="menu">


                {% for country in countr %}
                <li>
                    <a href="#">{{ country }}</a>
                </li>
                {% endfor %}

                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Виды отдыха&nbsp;<i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu" role="menu">

                 {% for active in act %}
                <li>
                    <a href="#">{{ active }}</a>
                </li>
                {% endfor %}

                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Товары для путешествий&nbsp;<i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu" role="menu">

                {% for type in types %}
                <li>
                    <a href="#">{{ type }}</a>
                </li>
                {% endfor %}
                  
                </ul>
              </li>
              <li class="navbar-form navbar-right" id="2"></li>
              <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button class="btn btn-warning" type="submit">
                  <i class="fa fa-fw fa-search"></i>
                </button>
                
              </form>
            </ul>

<ol class="breadcrumb">
{%block breadcrumb %}
{% endblock breadcrumb%}
</ol>

             <button class="btn btn-primary" data-toggle="modal" data-target=".bs-logout-modal-sm">modal</button>
        </div>
                {% block signin %}
                {% endblock signin  %}
                {% block carousel%}
                {% endblock carousel %}
                {% block content %}
                {% endblock content %}
   		          {% block best%}
   		          {% endblock best %}
                {% block basket %}
                {% endblock basket %}
                {%block catalog%}
                {%endblock catalog%}
            <div class="col-md-2"></div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade bs-logout-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="margin-top:100px;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
<panel> <div class="panel-heading navig" style="font-family:'Poiret One';color: black;font-size:20px;">Выход из аккуаунта<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: black;">&times;</button> </div>
<div class="panel-content" style="font-family:'Poiret One';color: black;font-size:20px;">
<p>Вы уверены, что хотите выйти?</p>
  <div class="modal-footer">
        <center><button type="button" class="btn btn-default" data-dismiss="modal" id="logout" style="margin-right:40px;">Выйти</button>
        <button type="button" class="btn btn-primary"  data-dismiss="modal">Отмена</button></center>
      </div></div>
     </panel>

    </div>

  </div>
</div>
    <div class="navbar navbar-default navbar-fixed-bottom navig">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand"><span>Служба поддержки: &nbsp;8-800-225-35-35</span></a>
        </div>

        <ul class="nav navbar-right navbar-nav navig">
        <li>
                <a href="#">О нас</a>
              </li>
              </ul>
      </div>
    </div>
  
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

{% endblock %}
</body></html>
