{% load staticfiles %}
<html lang="en" lang="ru">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--Шрифты-->
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Exo+2:200,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!--CSS-->
    <link href="{% static 'bootstrap.min.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'main.css'%}" rel="stylesheet" type="text/css">

    <!--jQuery-->

  </head>
    <body>
        <div class="row">
            
            <div class="page-header">
                <h1>
                Travel with me!
                    
                    <button type="button" class="btn btn-default btn-lg" style="margin-left:55%;font-family:'Poiret One;'">
                        <span class="fa fa-fw fa-user" ></span> <my_button>Вход</my_button>
                        </button>
                    <button type="button" class="btn btn-default btn-lg">
                        <span class="fa fa-fw fa-shopping-cart" ></span> <my_button>Корзина</my_button>
                    </button>
            </h1>
            <!--Меню-->
            <nav class="navbar navbar-default" style="margin-bottom:0;">
                
                <ul class="nav navbar-nav" style=" font-family: 'Exo 2';"> 
                    <li>
                        <a href="#">Специальные предложения</a>
                    </li>
                    <li>
                        <a href="/catalog/">Все путешествия</a>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Страны&nbsp;<i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for country in countr %}
                                <li>
                                    <a href="#">{{ country }}</a>
                                </li>
                            {% endfor %}

                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Виды отдыха&nbsp;<i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for active in act %}
                                <li>
                                    <a href="#">{{ active }}</a>
                                </li>
                            {% endfor %}

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Товары для путешествий&nbsp;<i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for type in types %}
                                <li>
                                    <a href="#">{{ type }}</a>
                                </li>
                            {% endfor %}
                  
                        </ul>
                    </li>
                    
                    
                </ul>
                
                
                <ul class="nav navbar-right navbar-nav navig"> 
                
                <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    <button type="submit" class="btn btn-warning">
                        <i class="fa fa-fw fa-search"></i>
                    </button>
                        
                </ul>
                
            </nav>
                
                <ol class="breadcrumb">

                    {%block breadcrumb %}
                    {% endblock breadcrumb%}
                </ol>
                
            </div>
            
            
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="navbar-header">
                    <a class="navbar-brand"><span>Служба поддержки: &nbsp;8-800-225-35-35</span></a>
                </div>

                <ul class="nav navbar-right navbar-nav navig">
                    <li>
                        <a href="#">О нас</a>
                    </li>
                </ul>
            </nav>
            </div>
           hi
            {% block page %}
            {% endblock page %}
            <div class="col-md-2"> </div>
            <div class="col-md-8">
            hi
                
                
            </div>
            <div class="col-md-2"> </div>
        </div>
    </body>
  </html>