 <div class="thumbnail" style="margin-top:30px;margin-bottom: 30px; margin-left: 40px; margin-right: 20px; background-color: #f5f5f5">
        <img src="..." alt="...">
          <div class="caption">
            <h3>Название товара</h3>
            <p>Цена товара</p>
            <p><a href="#" class="btn btn-primary" role="button" style="background-color: #ffcf48; color: #1a1a1a; border-width: 0px; font-weight: 500;">Добавить в корзину</a></p>
          </div>
      </div>