{% extends "template.html" %}
{%block breadcrumb %}
  <li><a href="/">Главная</a></li>
  <li class="active">Вход на сайт</li>
{%endblock breadcrumb%}
{% block signin %}
        <div class="row">
          <div class="col-md-12">
            <div class="row">

<div class="col-md-2"></div>
<div class="col-md-8">
            <div class="btn-link panel">
              <div class="panel-heading navig">
                <div class="panel-title text-center">Авторизация:</div>
              </div>
              <div class="panel-body">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="inputEmail" class="control-label">Логин:</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="inputPassword" class="control-label">Пароль:</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <div class="checkbox">
                        <label>
                          <check><input type="checkbox">Запомнить меня</label></check>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <sign><button type="submit" class="btn btn-default" style="">Войти!</button></sign>
                      <a href="/register/" class="btn btn-primary" role="button" style="background-color: #ffcf48; color: #1a1a1a; border-width: 0px; font-weight: 500; font-size: 17px;">Зарегестрироваться!</a></p>
                    </div>
                  </div>
                </form>
              </div>
            </div>

           
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form({}).username.label_tag }}</td>
    <td>{{ form({}).username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

          </div>
<div class="col-md-2"></div>
               
            
            </div>
          </div>
        </div>
   
{% endblock signin%}
