{% extends "navigation.html" %}
{%block breadcrumb %}
<li class="active">Главная</li>
{% endblock breadcrumb%}
{% block page %}
<div class="thumbnail" style="margin-top:20px;margin-bottom: 30px; margin-left: 0px; margin-right: 20px; background-color: #f5f5f5">
        
          <div class="caption">
          <div class="row">
              <div class="col-md-6"> 

              <h3 style="font-size: 27px;">{{item.name}}</h3>
              <img src="/static/img/items/{{item.id}}.png" alt="..." style="height: 375px; width: 375px; border-style:solid;border-color: grey; border-width: 2px;">
              <!--<img src="http://sigils.ru/symbols/img/gora01.jpg" alt="..." style="height: 250px; width: 375px;">-->
              </div>
              <div class="col-md-6">
              <p style="visibility: hidden;"> _</p>
              <p style="visibility: hidden;"> _</p>
              <h3>Описание:</h3>
              <p>{{item.information}}</p>
              <p><h3>Цена: </h3>{{item.cost}}  руб.</p>
              <p style="font-size: 20px;">Количество:</p>
              <input type="number" size="1" value="1" id="count">

              <p style="visibility: hidden;"> _</p>
              <p> <button data-id="{{ item.id }}" class="add btn btn-primary" style="background-color: #ffcf48; color: #1a1a1a; border-width: 0px; font-weight: 500;">
    Добавить в корзину</button></p>
               </div>
          </div>
          <div class="row">
              <div class="col-md-12">

              <h3>Подробнее:</h3>
              <p>{{item.additional_information}}</p>
               </div>
              </div>
          </div>
          </div>
{%endblock page%}