{% extends "template.html" %}
{% load staticfiles %}
{%block breadcrumb %}
<li><a href="/">Главная</a></li>
<li><a href="/">Товары\услуги</a>></li>
<li class="active">Категория</li>
{% endblock breadcrumb%}
{% block catalog %}
        <div class="row">
          <div class="col-md-12">
            <div class="row">

<div class="col-md-3"> Менюшка</div>
<div class="col-md-9">

<div class="panel"> </div>
          
          </div>
            </div>

            
            </div>
          </div>
        </div>
   
{% endblock catalog%}