{% extends "template.html" %}
{%block breadcrumb %}
  <li><a href="/">Главная</a></li>
  <li class="active">Вход на сайт</li>
{%endblock breadcrumb%}
{% block signin %}
        <div class="row">
          <div class="col-md-12">
            <div class="row">

<div class="col-md-2"></div>
<div class="col-md-8">
            <div class="panel">
              <div class="panel-heading navig">
                <div class="panel-title text-center" style="font-weight: 500;color: #1a1a1a;font-size: 22px;">Авторизация:</div>
              </div>
              <div class="panel-body">

{% if form.errors %}
<p>Неверный логин или пароль. Пожалуйста, попробуйте еще раз.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>Логин:</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>Пароль:</td>
    <td>{{ form.password }}</td>
</tr>

</table>
  
<label class="checkbox" style="padding-left: 120; padding-top: 15;">
          <input type="checkbox" value="remember-me"> Запомнить меня
        </label>
  
<p align="right"><input type="submit"  href="/" class="btn btn-primary" role="button"type="submit" value="Войти!" style="background-color: #ffcf48; color: #1a1a1a; border-width: 0px; font-weight: 500; font-size: 17px; margin-top:30px;margin-left:100px;"/>
<input type="hidden" name="next" value="{{ next }}" />
<a href="/register/" class="btn btn-primary" role="button" style="background-color: #ffcf48; color: #1a1a1a; border-width: 0px; font-weight: 500; font-size: 17px;margin-top:30px; margin-left: 300px;margin-right: 50px;">Зарегестрироваться!</a></p>
</form>
<p style="margin: 0.4em;">


</p>
              </div>
            </div>

           

          </div>
<div class="col-md-2"></div>
               
            
            </div>
          </div>
        </div>
   
{% endblock signin%}
