{% extends "navigation.html" %}
{%block breadcrumb %}
<li>Главная</li>
<li class="active">Авторизация</li>
{% endblock breadcrumb%}
{% block page %}
<div class="col-md-1"></div>
<div class="col-md-10">
    <ul class="nav nav-tabs nav-justified" style="height:50px;">
        <li role="presentation" class="active" ><a>Вход</a></li>
        <li role="presentation"><a  href="/register/">Регистрация</a></li>
</ul>
<div class="panel panel-default">    
    <div class="panel-body">
        <div class="col-md-3"></div>
        <div class="col-md-6">
                {% if form.errors %}
                <p>Неверный логин или пароль. Пожалуйста, попробуйте еще раз.</p>
                {% endif %}

                <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
               
                <table>
                <thead>
                    <th style="width:20%;"></th>
                    <th style="width:100%;"></th>
                </thead>
                <tr>
                    <td>Логин:</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>Пароль:</td>
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><label class="checkbox"style="font-size:15px;">
                            <input type="checkbox" value="remember-me" >Запомнить меня 
                        </label>
                    </td>
                </tr>
                <tr>    
                    <td></td>
                    <td>
                        <p align="right"><input type="submit"  href="/" class="btn btn-primary" role="button"type="submit" value="Войти" /></p>
                    </td>

                </tr>
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        
                        <p style="font-size:15px;">Или войти через:
                            <a href='/login/vk-oauth2/'><img src="/static/img/icons/vkpng" width="30" height="30"></a>
                            <a  href="/login/"><img src="/static/img/icons/fb.png" width="30" height="30"></a>
                        </p>
                    </td>
                </tr>
                </table>
                    
                </form>
        </div>
        <div class="col-md-3"></div>
    </div>
       
            </div>

</div>
<div class="col-md-1"></div>
{% endblock page %}
