{% extends "template.html" %}
{% block signin %}
<div class="cover-image"></div>
      <div class="container text-left">
        <div class="row">
          <div class="col-md-12">
            <div class="row">

<div class="col-md-2"></div>
<div class="col-md-8">
            <div class="btn-link btn-link btn-link panel">
              <div class="panel-heading navig">
                <h3 class="panel-title text-center">Авторизация:</h3>
              </div>
              <div class="panel-body">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="inputEmail3" class="control-label">Логин:</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="inputPassword3" class="control-label">Пароль:</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <div class="checkbox">
                        <label>
                          <check><input type="checkbox">Запомнить меня</label></check>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <sign><button type="submit" class="btn btn-default">Войти!</button></sign>
                      <sign><button type="submit" class="btn btn-default">Зарегестрироваться!</button></sign>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
<div class="col-md-2"></div>
               
            
            </div>
          </div>
        </div>
</div> 
{% endblock signin%}
